* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
    padding: 1rem;
    background-color: brown;
    color:azure;
}

.main-header h1{
    text-align: center;
}

.footer {
    text-align: center;
    padding: 0.5rem;
    background-color: brown;
}

.btn {
    background-color: azure;
    color: brown;
    width: 150px;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
}

.card {
    padding: 1rem;
    background-color: azure;
    color: brown;
    text-align: justify;
}

.col-6 {
    max-width: 50vw;
}

.styled-hr{
    margin: 1rem 0.5rem;
    color: brown;
    /* border-color: brown; */
    background-color: azure;
}

.bg-brown {
    background-color: brown;
    color: azure;
}